.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/purple-shades.jpg");
  height: 100vh;
  overflow: hidden;
}

.loading-glass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.loading-content h1 {
  font-family: "Oswald", system-ui;
  font-weight: 700;
  font-size: 15vw;
  color: #e0e0e0;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0.15rem;
  animation: blinkCursor 0.7s infinite;
}
