@font-face {
  font-family: "Robmax Stencil";
  src: url("../images/Fonts/Robmax36\ Stencil.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gendy";
  src: url("../images/Fonts/Gendy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.widget {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #101010;
  width: 17vw;
  aspect-ratio: 2/1.14;
  text-align: center;
  font-family: "Gendy", sans-serif;

  .city {
    font-size: 2vw;
    margin-bottom: 1vh;
  }

  .temperature {
    color: #E6E6FA;
    font-size: 1.75vw;
    font-family: "Gendy", sans-serif;

    span {
      color: black;
    }
  }
}
