@font-face {
    font-family: "Robmax Stencil";
    src: url("../images/Fonts/Robmax36\ Stencil.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gendy";
    src: url("../images/Fonts/Gendy.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    cursor: url("../images/arrowhead-rounded-outline.svg") 10 10, auto;
}

.CursorFollower {
    position: fixed;
    z-index: 9999;
}

.App {
    background-color: #000;
}

#smooth-content {
    height: 1050vh;
}

/*HEADER-START*/

.header {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f4f3f2;
}

.asian-cyb {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/asian-cyborg.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    animation: fall .75s ease-in-out forwards;
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    top: 0;
    font-family: "Robmax Stencil", sans-serif;
    font-weight: 700;
    font-size: 19vw;
    color: #000;
    z-index: 1;
}

.header-logo {
    position: absolute;
    width: 6rem;
    aspect-ratio: 1;
    top: 80%;
    left: 5%;
    animation: spin 6s linear infinite, appear 3s ease-out;
}

.time-div {
    position: absolute;
    top: 85%;
    left: 85%;
    animation: appear 2.5s ease-out;
}

.time-div h3 {
    font-family: "Robmax Stencil", sans-serif;
    font-size: 2.5vw;
}

#scroll-message {
    position: absolute;
    color: plum;
    font-size: 1.5vw;
    font-family: "Gendy", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 1100%);
    z-index: 100;
    animation: appear 4s ease-out;
}

.solid-color-layer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
}

@keyframes fall {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.glitch {
    font-size: calc(2vw + 2vh);
    position: relative;
    color: #000;
    text-align: center;
}

.glitch.in-view {
    animation: glitch-animation 1s linear infinite;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: none;
}

.glitch.in-view::before {
    left: 2px;
    text-shadow: -2px 0 rgb(153, 0, 255);
    animation: glitch-animation 1s linear infinite reverse;
}

.glitch.in-view::after {
    left: -2px;
    text-shadow: -2px 0 rgb(255, 0, 0);
    animation: glitch-animation 1.5s linear infinite reverse;
}

@keyframes glitch-animation {

    0%,
    100% {
        clip: rect(12px, 9999px, 14px, 0);
        transform: skew(0.5deg);
    }

    5%,
    65% {
        clip: rect(52px, 9999px, 54px, 0);
    }

    10% {
        clip: rect(22px, 9999px, 32px, 0);
    }

    15%,
    45% {
        clip: rect(82px, 9999px, 84px, 0);
    }

    20%,
    30% {
        clip: rect(12px, 9999px, 14px, 0);
    }

    25%,
    35% {
        clip: rect(62px, 9999px, 64px, 0);
    }

    40% {
        clip: rect(22px, 9999px, 24px, 0);
    }

    50% {
        clip: rect(52px, 9999px, 54px, 0);
    }

    55% {
        clip: rect(72px, 9999px, 74px, 0);
    }

    60% {
        clip: rect(42px, 9999px, 44px, 0);
    }

    70% {
        clip: rect(82px, 9999px, 84px, 0);
    }

    75% {
        clip: rect(22px, 9999px, 24px, 0);
    }

    80% {
        clip: rect(62px, 9999px, 64px, 0);
    }

    85% {
        clip: rect(42px, 9999px, 44px, 0);
    }

    90% {
        clip: rect(32px, 9999px, 34px, 0);
    }
}

/*HEADER-END*/

/*MAIN-ABOUT-SECTION=START*/

.about-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 150vh;
    background-color: #000;
    z-index: 1;
}

.about-atharax {
    position: relative;
    top: 10%;
    width: 90%;
    height: 10%;
    color: #E6E6FA;
    font-size: 2vw;
    letter-spacing: 0.1vw;
    font-family: "Robmax Stencil", sans-serif;
    font-weight: 400;
    text-align: center;
    text-shadow:
        /*0px 1.5vh 0vw rgb(153, 0, 255),
        0px 2.5vh 0vw rgb(153, 0, 255),
        0px 3.5vh 0vw rgb(153, 0, 255),
        0px 4.5vh 0vw rgb(153, 0, 255),
        0px 5.5vh 0vw rgb(153, 0, 255),
        0px 6.5vh 0vw rgb(153, 0, 255),
        0px 7.5vh 0vw rgb(153, 0, 255),
        0px 8.5vh 0vw rgb(153, 0, 255),
        0px 9.5vh 0vw rgb(153, 0, 255),
        0px 10.5vh 0vw rgb(153, 0, 255),
        0px 11.5vh 0vw rgb(153, 0, 255),
        0px 12.5vh 0vw rgb(153, 0, 255),
        0px 13.5vh 0vw rgb(153, 0, 255),
        0px 14.5vh 0vw rgb(153, 0, 255),
        0px 15.5vh 0vw rgb(153, 0, 255),*/
        32.5vw 0px .6vw #ffffff,
        16vw 0px .3vw #ffffff,
        -16vw 0px .3vw #ffffff,
        -32.5vw 0px .6vw #ffffff;
}

.about-div-row {
    position: relative;
    top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110vw;
    height: 60vh;
    background-image: url("../images/EYES_ATHARAX.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 45%;
}

.carousel {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 70%;
}

.carousel-content {
    display: inline-block;
    font-family: "Robmax Stencil", sans-serif;
    font-size: 10vw;
    color: #E6E6FA;
}

/*MAIN-ABOUT-SECTION-END*/

/*MAIN-WORKFLOW-SECTION-START*/

.workflow-section {
    position: relative;
    top: -1vh;
    width: 100vw;
    height: 575vh;
    background: #000000;
    z-index: 5;
}

.sticky,
.sticky-two,
.sticky-three,
.sticky-four,
.sticky-five {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: transparent;
}

.img-init {
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    border-radius: .5vw;
    width: 22.5vw;
    aspect-ratio: 3/4;
    background-image: url("../images/img-init-one.webp");
    background-position: 40%, 50%;
    background-size: contain;
    background-size: cover;
}

.img-init-two,
.img-init-three,
.img-init-four,
.img-init-five {
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    border-radius: .5vw;
    width: 22.5vw;
    aspect-ratio: 3/4;
    background-position: 50%, 50%;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
}

.img-init-two {
    background-image: url("../images/img-init-two.webp");
}

.img-init-three {
    background-image: url("../images/img-init-three.webp");
}

.img-init-four {
    background-image: url("../images/img-init-four.webp");
}

.img-init-five {
    background-image: url("../images/img-init-five.webp");
    background-position: top;
}

.mini-nav,
.mini-nav-two,
.mini-nav-three,
.mini-nav-four,
.mini-nav-five {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    transform: translate(-51.75%, -1115%);
    background-color: #E6E6FA;
    width: 80vw;
    border-radius: .5vw;
    aspect-ratio: 18/1;
    padding: 0 2vw;
}

.mini-nav h3,
.mini-nav-two h3,
.mini-nav-three h3,
.mini-nav-four h3,
.mini-nav-five h3 {
    display: inline-flex;
    font-family: "Gendy", sans-serif;
    font-size: 1.15vw;
}

.mini-nav h3 span,
.mini-nav-two h3 span,
.mini-nav-three h3 span,
.mini-nav-four h3 span,
.mini-nav-five h3 span {
    color: rgb(83, 83, 83);
}

.mini-nav ul,
.mini-nav-two ul,
.mini-nav-three ul,
.mini-nav-four ul,
.mini-nav-five ul {
    display: inline-flex;
    justify-content: right;
    float: right;
}

.mini-nav a,
.mini-nav-two a,
.mini-nav-three a,
.mini-nav-four a,
.mini-nav-five a {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin-left: 1vw;
    font-family: "Gendy", sans-serif;
    font-size: 1vw;
    background: linear-gradient(#000000, #0f0f0f) left no-repeat, #636363;
    background-size: 0% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-in-out;
    cursor: url("../images/hand-pointer.svg") 10 10, auto;
}

.mini-nav a:hover,
.mini-nav-two a:hover,
.mini-nav-three a:hover,
.mini-nav-four a:hover,
.mini-nav-five a:hover {
    background-size: 100% 100%;
}

.work-briefing,
.work-wire,
.work-design,
.work-develop,
.work-test {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    aspect-ratio: 4/1;
    width: 36.5vw;
    top: 50%;
    left: 50%;
    border-radius: .5vw;
    background: #E6E6FA;
    font-family: "Robmax Stencil", sans-serif;
    font-size: 3vw;
}

.work-briefing {
    transform: translate(-113.25%, -534%);
}

.work-wire {
    transform: translate(5.75%, -534%);
}

.work-design {
    transform: translate(-43%, -534%);
}

.work-develop {
    transform: translate(5.75%, -534%);
}

.work-test {
    transform: translate(-113.25%, -534%);
}

.work-briefing-text,
.work-wire-text,
.work-design-text,
.work-develop-text,
.work-test-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    font-size: 3vw;
    font-family: "Gendy", sans-serif;
    border-radius: .5vw;
    aspect-ratio: 2/2.69;
    width: 24.75vw;
    background: #E6E6FA;
    text-align: center;
    line-height: 1;
    letter-spacing: -.05vw;
}

.work-briefing-text {
    transform: translate(56%, -173.75%);
}

.work-wire-text {
    transform: translate(-167%, -173.75%);
}

.work-design-text {
    transform: translate(-167%, -173.75%);
}

.work-develop-text {
    transform: translate(-167%, -173.75%);
}

.work-test-text {
    transform: translate(56%, -173.75%);
}

.work-briefing-text p,
.work-wire-text p,
.work-design-text p,
.work-develop-text p,
.work-test-text p {
    display: inline-block;
    max-width: 80%;
    word-break: break-word;
}

.work-briefing-text p span,
.work-wire-text p span,
.work-design-text p span,
.work-develop-text p span,
.work-test-text p span {
    color: #c164ff;
}

.briefing-temp,
.wire-temp,
.design-temp,
.develop-temp,
.test-temp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/scroll-down-back.webp");
    background-position: center;
    background-size: cover;
    border-radius: .5vw;
    width: 17vw;
    aspect-ratio: 2/1.14;
    top: 50%;
    left: 50%;
    text-align: center;
}

.briefing-temp p,
.wire-temp p,
.design-temp p,
.develop-temp p,
.test-temp p {
    font-family: "Gendy", sans-serif;
    font-size: 2.5dvw;
    line-height: .9;
    background: linear-gradient(90deg, #552586, #6A359C, #804FB3, #9969C7, #B589D6);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientMove 3s infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.briefing-temp {
    transform: translate(-23.5%, -697.25%);
}

.wire-temp {
    transform: translate(-92.5%, -697.25%);
}

.design-temp {
    transform: translate(127.25%, -697.25%);
}

.develop-temp {
    transform: translate(-92.5%, -940%);
}

.test-temp {
    transform: translate(-23.5%, -940%);
}

.home-temp-brief {
    pointer-events: all;
    font-family: "Gendy", sans-serif;
}

.img-asset-one,
.img-asset-two,
.img-asset-three,
.img-asset-four,
.img-asset-five {
    position: relative;
    display: flex;
    background-position: center;
    background-size: cover;
    border-radius: .5vw;
    width: 36.5vw;
    aspect-ratio: 5/1;
    top: 50%;
    left: 50%;
}

.img-asset-one {
    background-image: url("../images/img-asset-one.webp");
    transform: translate(-113.25%, -1025.25%);
}

.img-asset-two {
    background-image: url("../images/img-asset-two.webp");
    transform: translate(5.75%, -1025.25%);
}

.img-asset-three {
    background-image: url("../images/img-asset-three.webp");
    transform: translate(-43.25%, -1025.25%);
}

.img-asset-four {
    background-image: url("../images/img-asset-four.webp");
    transform: translate(5.75%, -1025.25%);
}

.img-asset-five {
    background-image: url("../images/img-asset-five.webp");
    transform: translate(-113.25%, -1025.25%);
}

.briefing-extra,
.wire-extra,
.design-extra,
.develop-extra,
.test-extra {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border-radius: .5vw;
    width: 36.5vw;
    aspect-ratio: 3/1.22;
    top: 50%;
    left: 50%;
}

.briefing-extra {
    transform: translate(-113.25%, -660%);
}

.wire-extra {
    transform: translate(5.75%, -660%);
}

.design-extra {
    transform: translate(-43.25%, -660%);
}

.develop-extra {
    transform: translate(5.75%, -660%);
}

.test-extra {
    transform: translate(-113.25%, -660%);
}

.briefing-home,
.briefing-next,
.wire-home,
.wire-next,
.design-home,
.design-next,
.develop-home,
.develop-next,
.test-home,
.test-next {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E6FA;
    border-radius: .5vw;
    width: 17.75vw;
    aspect-ratio: 1;
}

.briefing-home h3,
.wire-home h3,
.design-home h3,
.develop-home h3,
.test-home h3 {
    font-family: "Robmax Stencil", sans-serif;
    font-size: 2.5vw;
    color: #c164ff;
}

.briefing-next img,
.wire-next img,
.design-next img,
.develop-next img,
.test-next img {
    width: 7vw;
    aspect-ratio: 1;
    animation: spin 8s linear infinite;
}

/*MAIN-WORKFLOW-SECTION-END*/

/*FOOTER*/

.contact {
    position: relative;
    width: 100vw;
    height: 150vh;
    transition: background 0.5s ease-in-out;
    text-align: center;
}

.sticky-footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: transparent;
}

.footer-p {
    position: absolute;
    width: 100vw;
    font-size: clamp(5vw, 6vw, 7vw);
    font-family: "Gendy", sans-serif;
    color: #f4f3f2;
    visibility: 1;
    opacity: 1;
}

.atharax-big {
    position: absolute;
    width: 100vw;
    top: 30%;
    margin: 0;
    font-family: "Robmax Stencil", sans-serif;
    font-size: clamp(12vw, 17vw, 22vw);
    font-weight: 700;
    background-image: url("../images/img-asset-one.webp");
    background-size: cover;
    background-position: 50%, 70%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    opacity: 0;
    visibility: 0;
}

.socials-div {
    position: absolute;
    transform: translate(0%, 1250%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 100vw;
    flex-wrap: wrap;
    padding: 1vh 0;
}

.socials-div a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-family: "Robmax Stencil", sans-serif;
    font-size: clamp(.75vw, 1.25vw, 1.75vw);
    text-decoration: none;
    background: linear-gradient(#000000, #0f0f0f) left no-repeat, #7e7e7e;
    background-size: 0% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: url("../images/hand-pointer.svg") 10 10, auto;
    transition: 0.5s ease-in-out;
}

.socials-div img {
    width: clamp(3vw, 4vw, 5vw);
    aspect-ratio: 1;
    transform: translate3d(0, 0, 0);
}

.socials-div a:hover {
    background-size: 100% 100%;
}

.sticky-footer,
.footer-p,
.atharax-big {
    image-rendering: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
}