@font-face {
  font-family: "Robmax Stencil";
  src: url("../images/Fonts/Robmax36\ Stencil.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gendy";
  src: url("../images/Fonts/Gendy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  #smooth-content {
    height: 990vh;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
html {
  background-color: #000000; // Adjust if needed
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.nav {
  position: fixed;
  width: 80vw;
  left: 10vw;
  height: 15vh; // Adjust height as needed
  display: flex;
  justify-content: space-between; // Ensures space between logo and menu icon
  align-items: center; // Vertically center items
  padding: 0 5%; // Add padding on the left and right for spacing
  background-color: transparent;
  z-index: 999;

  a {
    display: flex;
    align-items: center; // Vertically center the logo image within the link

    img {
      width: 3rem; // Adjust the size of the spherical image
      aspect-ratio: 1/1;
    }
  }

  .menu-button {
    display: flex;
    align-items: center; // Vertically center the menu icon
    justify-content: center; // Horizontally center the icon within the button
    background: none;
    border: none;

    img {
      width: 2.25rem; // Adjust the size of the menu icon
      aspect-ratio: 1/1;
      mix-blend-mode: difference;
    }
  }
}

.side-menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0; // Ensure it's at the top of the viewport
  left: 0;
  background-color: #f4f3f2;
  display: none;
  z-index: 998;
  transition: all 0.3s ease-in-out;

  .side-menu-list {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
      text-decoration: none;
      font-size: 13vw;
      font-family: "Robmax Stencil", sans-serif;
      font-weight: 700;
      margin: 1vh 0;
      color: #000;
    }
  }
}

.side-menu.show {
  display: block;
}

.home-screen {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f4f3f2;

  .solid-color-layer-mobile {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
  }

  .asian-cyb-mobile {
    position: relative;
    top: 20%;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/asian-cyborg.webp");
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 49.5%, 50%;
    z-index: 2;
    animation: fall 0.75s ease-in-out forwards;
  }
}

.title-mobile {
  position: absolute;
  top: -25%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18vw; // Correctly defining font-size
  font-family: "Robmax Stencil", sans-serif;
  font-weight: 700;
  color: #000; // Correctly defining font-family
}

/*ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT*/

.about-content-mobile {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 10;

  .glassmorphism {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    height: 100vh;
  }

  .about-atharax-mobile {
    position: relative;
    top: 20%;
    width: 80%;
    height: 10%;
    color: #e6e6fa;
    font-size: 5vw;
    letter-spacing: 0.1vw;
    font-family: "Robmax Stencil", sans-serif;
    font-weight: 400;
    text-align: center;
    text-shadow: 30vw 0px 0.7vw #ffffff, -30vw 0px 0.7vw #ffffff;
  }

  .about-div-row-mobile {
    position: relative;
    top: 25%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70%;
    background-image: url("../images/EYES_ATHARAX.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 10%;
  }

  .carousel-mobile {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 70%;
  }

  .carousel-content-mobile {
    display: inline-block;
    font-family: "Robmax Stencil", sans-serif;
    font-size: 20vw;
    color: #e6e6fa;
  }
}

/* WORKFLOW --- WORKFLOW --- WORKFLOW --- WORKFLOW --- WORKFLOW --- WORKFLOW --- WORKFLOW --- WORKFLOW --- WORKFLOW*/

.workflow-mobile {
  position: relative;
  top: -1vh;
  width: 100vw;
  height: 575vh;
  background: #000000;
  z-index: 5;

  .sticky-one-mobile,
  .sticky-two-mobile,
  .sticky-three-mobile,
  .sticky-four-mobile,
  .sticky-five-mobile {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: transparent;
  }
}

.briefing-asset,
.wireframe-asset,
.design-asset,
.develop-asset,
.testing-asset {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  top: 15vh;
  left: 7.5vw;
  height: 75vh;
  width: 85vw;
  border-radius: 5vh;
  margin-bottom: 14vh;
}

.wireframe-asset,
.design-asset,
.develop-asset,
.testing-asset {
  visibility: hidden;
  opacity: 0;
}

.briefing-asset {
  background-image: url("../images/img-init-one.webp");
  background-position: 30%, 70%;

  .briefing-asset-glass {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transition: backdrop-filter 0.5s ease-out,
      -webkit-backdrop-filter 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
  }
}

.wireframe-asset {
  background-image: url("../images/img-init-two.webp");
  background-position: center;

  .wireframe-asset-glass {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transition: backdrop-filter 0.5s ease-out,
      -webkit-backdrop-filter 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
  }
}

.design-asset {
  background-image: url("../images/img-init-three.webp");
  background-position: center;

  .design-asset-glass {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transition: backdrop-filter 0.5s ease-out,
      -webkit-backdrop-filter 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
  }
}

.develop-asset {
  background-image: url("../images/img-init-four.webp");
  background-position: center;

  .develop-asset-glass {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transition: backdrop-filter 0.5s ease-out,
      -webkit-backdrop-filter 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
  }
}

.testing-asset {
  background-image: url("../images/img-init-five.webp");
  background-position: center;

  .testing-asset-glass {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transition: backdrop-filter 0.5s ease-out,
      -webkit-backdrop-filter 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
  }
}

.briefing-h2,
.wireframe-h2,
.design-h2,
.develop-h2,
.testing-h2 {
  font-size: 10vw; /* Adjust font-size for responsiveness */
  font-family: "Robmax Stencil", sans-serif;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  position: relative;
  text-align: center;
}

.briefing-p,
.wireframe-p,
.design-p,
.develop-p,
.testing-p {
  font-size: 8vw;
  font-family: "Gendy", sans-serif;
  aspect-ratio: 2/2.69;
  line-height: 1;
  letter-spacing: -0.05vw;
  position: relative;
  margin-top: 4rem;
  display: inline-block;
  max-width: 85%;
  word-break: break-word;
}

.briefing-p span,
.wireframe-p span,
.design-p span,
.develop-p span,
.testing-p span {
  color: #c164ff;
}

/*FOOTER --- FOOTER --- FOOTER --- FOOTER --- FOOTER --- FOOTER --- FOOTER --- FOOTER --- FOOTER --- FOOTER*/

.footer {
  position: relative;
  width: 100vw;
  height: 150vh;
  transition: background 0.5s ease-in-out;
  text-align: center;

  .footer-sticky-mobile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: transparent;
  }

  .footer-p-mobile {
    position: absolute;
    width: 100vw;
    font-size: clamp(11vw, 12vw, 13vw);
    font-family: "Gendy", sans-serif;
    color: #e6e6fa;
    visibility: 1;
    opacity: 1;
  }

  .atharax-big-mobile {
    position: absolute;
    width: 100vw;
    top: 45%;
    margin: 0;
    font-family: "Robmax Stencil", sans-serif;
    font-size: clamp(12vw, 17vw, 22vw);
    font-weight: 700;
    background-image: url("../images/img-asset-one.webp");
    background-size: cover;
    background-position: 50%, 70%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    opacity: 0;
    visibility: 0;
  }

  .socials-row {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    top: 105%;
    pointer-events: all;

    a {
      text-decoration: none;

      img {
        width: 2.25rem;
        mix-blend-mode: difference;
        aspect-ratio: 1;
      }
    }
  }
}

.footer-sticky-mobile,
.footer-p-mobile,
.atharax-big-mobile {
  image-rendering: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
}
