@font-face {
  font-family: "Robmax Stencil";
  src: url("../images/Fonts/Robmax36\ Stencil.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gendy";
  src: url("../images/Fonts/Gendy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#smooth-content {
  height: 1070vh;
}

.all {
  background-color: #000;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  pointer-events: all;
  z-index: 999;
}

.line {
  fill: none;
  stroke: #b589d6;
  stroke-width: 5;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 5;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 5;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 5;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 5;
  stroke: red;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 5;
  stroke: red;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 5;
  stroke: red;
}

.nav {
  position: fixed;
  width: 80vw;
  left: 10vw;
  height: 15vh; // Adjust height as needed
  display: flex;
  justify-content: space-between; // Ensures space between logo and menu icon
  align-items: center; // Vertically center items
  padding: 0 5%; // Add padding on the left and right for spacing
  background-color: transparent;
  z-index: 999;
  opacity: 0;

  a {
    display: flex;
    align-items: center; // Vertically center the logo image within the link

    img {
      width: clamp(4rem, 10vw, 8rem);
      aspect-ratio: 1/1;
      animation: spin 5s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.side-menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0; // Ensure it's at the top of the viewport
  left: 0;
  background-color: #f4f3f2;
  display: none;
  z-index: 998;
  transition: all 0.3s ease-in-out;

  .side-menu-list {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
      text-decoration: none;
      font-size: 13vw;
      font-family: "Robmax Stencil", sans-serif;
      font-weight: 700;
      margin: 1vh 0;
      color: #000;
    }
  }
}

.side-menu.show {
  display: block;
}

.preloader-container {
  position: relative;
}

.counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 10rem;
  font-family: "Gendy", sans-serif;
  color: #fff;
  z-index: 400;
  cursor: default;
  transition: opacity 0.5s ease;
}

.counter.invisible {
  opacity: 0;
  pointer-events: none; /* Prevent interaction */
}

.preloader1 {
  position: absolute;
  top: 0;
  height: 36vh;
  width: 21vw;
  z-index: 300;
  background-color: rgb(0, 0, 0);
  /* White */
}

.preloader2 {
  position: absolute;
  left: 20vw;
  height: 66vh;
  width: 21vw;
  z-index: 300;
  background-color: rgb(0, 0, 0);
  /* Lavender */
}

.preloader3 {
  position: absolute;
  left: 40vw;
  height: 36vh;
  width: 21vw;
  z-index: 300;
  background-color: rgb(0, 0, 0);
  /* Thistle */
}

.preloader4 {
  position: absolute;
  left: 60vw;
  height: 66vh;
  width: 21vw;
  z-index: 300;
  background-color: rgb(0, 0, 0);
  /* Medium Orchid */
}

.preloader5 {
  position: absolute;
  left: 80vw;
  height: 36vh;
  width: 21vw;
  z-index: 300;
  background-color: rgb(0, 0, 0);
  /* Blue Violet */
}

.preloader1-down {
  position: absolute;
  top: 35vh;
  height: 66vh;
  width: 21vw;
  z-index: 300;
  background-color: #000;
  /* White */
}

.preloader2-down {
  position: absolute;
  top: 65vh;
  left: 20vw;
  height: 36vh;
  width: 21vw;
  z-index: 300;
  background-color: #000;
  /* Lavender */
}

.preloader3-down {
  position: absolute;
  top: 35vh;
  left: 40vw;
  height: 66vh;
  width: 21vw;
  z-index: 300;
  background-color: #000;
  /* Thistle */
}

.preloader4-down {
  position: absolute;
  top: 65vh;
  left: 60vw;
  height: 36vh;
  width: 21vw;
  z-index: 300;
  background-color: #000;
  /* Medium Orchid */
}

.preloader5-down {
  position: absolute;
  top: 35vh;
  left: 80vw;
  height: 66vh;
  width: 21vw;
  z-index: 300;
  background-color: #000;
  /* Blue Violet */
}

.home-screen {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f4f3f2;

  .solid-color-layer-mobile {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
  }

  .asian-cyb-mobile {
    position: relative;
    top: 20%;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/asian-cyborg-mobile.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 49.5%, 50%;
    z-index: 2;
  }
}

.title-mobile {
  position: absolute;
  top: -25%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18vw; // Correctly defining font-size
  font-family: "Robmax Stencil", sans-serif;
  font-weight: 700;
  color: #000; // Correctly defining font-family
}

.arrow-down {
  position: absolute;
  top: 87.5%;
  left: 42.5vw;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.arrow-down img {
  width: clamp(10vw, 50%, 15vw);
  aspect-ratio: 1/1;
}

/*ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT*/

.about-content-mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -0.1vh;
  width: 100vw;
  height: 100.1vh;
  background-color: #000;
  z-index: 1000;
  margin-bottom: 100vh;

  .about-atharax-mobile {
    position: relative;
    top: 20%;
    width: 80%;
    height: 10%;
    color: hsl(273, 100%, 67%);
    font-size: 4vw;
    letter-spacing: 0.1vw;
    font-family: "Robmax Stencil", sans-serif;
    font-weight: 400;
    text-align: center;
    text-shadow: 30vw 0px 0.7vw hsl(273, 100%, 67%),
      -30vw 0px 0.7vw hsl(273, 100%, 67%);
  }

  .about-description-mobile {
    position: relative;
    top: 22.5%;
    width: 70%;
    height: 30vh;
    color: #f4f3f2;
    font-size: 7vw;
    font-family: "Gendy", sans-serif;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.1vw;
  }

  .carousel-mobile {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: clamp(72.5%, 50%, 85%);
  }

  .carousel-content-mobile {
    display: inline-block;
    font-family: "Robmax Stencil", sans-serif;
    font-size: clamp(3rem, 20vw, 6rem);
    color: #f4f3f2;
  }
}

/* WORKFLOW --- WORKFLOW --- WORKFLOW --- WORKFLOW --- WORKFLOW --- WORKFLOW --- WORKFLOW --- WORKFLOW --- WORKFLOW*/

.workflow-mobile {
  position: relative;
  top: -1vh;
  width: 100vw;
  height: 575vh;
  background: #000000;
  z-index: 5;

  .sticky-one-mobile,
  .sticky-two-mobile,
  .sticky-three-mobile,
  .sticky-four-mobile,
  .sticky-five-mobile {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: transparent;
  }
}

.briefing-asset,
.wireframe-asset,
.design-asset,
.develop-asset,
.testing-asset {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  top: 15vh;
  left: 7.5vw;
  height: 75vh;
  width: 85vw;
  border-radius: 4vh;
  margin-bottom: 14vh;
}

.wireframe-asset,
.design-asset,
.develop-asset,
.testing-asset {
  visibility: hidden;
  opacity: 0;
}

@mixin glass-effect {
  position: relative;
  width: 101%;
  height: 100%;
  border-radius: 4vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

$assets: (
  "briefing": "../images/img-init-one.webp",
  "wireframe": "../images/img-init-two.webp",
  "design": "../images/img-init-three.webp",
  "develop": "../images/img-init-four.webp",
  "testing": "../images/img-init-five.webp",
);

@each $name, $image in $assets {
  .#{$name}-asset {
    background-image: url($image);
    background-position: center;

    .#{$name}-asset-glass {
      @include glass-effect;
    }
  }
}

.briefing-h2,
.wireframe-h2,
.design-h2,
.develop-h2,
.testing-h2 {
  font-size: 10vw;
  font-family: "Robmax Stencil", sans-serif;
  margin-top: clamp(3rem, 10vw, 5rem);
  margin-bottom: 0.5rem;
  line-height: 1.2;
  position: relative;
  text-align: center;
  color: #f4f3f2;
}

.briefing-p,
.wireframe-p,
.design-p,
.develop-p,
.testing-p {
  font-size: clamp(2rem, 6vw, 3rem);
  font-family: "Gendy", sans-serif;
  color: #f4f3f2;
  aspect-ratio: 2/2.69;
  line-height: 1;
  letter-spacing: -0.05vw;
  position: relative;
  margin-top: clamp(5rem, 10vw, 6rem);
  display: inline-block;
  max-width: 85%;
  word-break: break-word;
}

.briefing-p span,
.wireframe-p span,
.design-p span,
.develop-p span,
.testing-p span {
  color: #c164ff;
}

/*FOOTER --- FOOTER --- FOOTER --- FOOTER --- FOOTER --- FOOTER --- FOOTER --- FOOTER --- FOOTER --- FOOTER*/

.footer {
  position: relative;
  width: 100vw;
  height: 150vh;
  transition: background 0.5s ease-in-out;
  text-align: center;

  .footer-sticky-mobile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: transparent;
  }

  .footer-p-mobile {
    position: absolute;
    width: 100vw;
    font-size: clamp(11vw, 12vw, 13vw);
    font-family: "Gendy", sans-serif;
    color: #f4f3f2;
    visibility: visible;
    opacity: 1;
  }

  .atharax-big-mobile {
    position: absolute;
    width: 100vw;
    top: 35%;
    margin: 0;
    font-family: "Robmax Stencil", sans-serif;
    font-size: clamp(12vw, 17vw, 22vw);
    font-weight: 700;
    background-image: url("../images/img-asset-one.webp");
    background-size: cover;
    background-position: 50%, 70%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    opacity: 0;
    visibility: 0;
  }

  .socials-row {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    top: 82.5%;
    pointer-events: all;
    opacity: 0;

    a {
      text-decoration: none;

      img {
        width: 2.25rem;
        aspect-ratio: 1;
      }
    }
  }
}
